<div id="profile" class="m-3">
  <p-tabView>
    <p-tabPanel header="Basic Details">
      @if (newUserBasicDetails && newUserBasicDetails.userName) {
      <div>
        <div class="d-flex">
          <div class="col-4">
            <div class="d-flex align-items-center div-margin-buttom">
              <div class="label-margin-right">Username:</div>
              <div>
                <div class="disable-div">{{newUserBasicDetails.userName}}</div>
              </div>
            </div>
            <div class="d-flex align-items-center div-margin-buttom">
              <div class="label-margin-right" style="margin-bottom: 20px;">Diaplay name:</div>
              <div class="d-flex flex-column">
                <input type="text" pInputText pSize="normal" [(ngModel)]="newUserBasicDetails.displayName"
                  (input)="clearBasicDetailsValidation()" />
                <span class="error-cntr">{{userBasicDetailsError.displayName}}</span>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="d-flex div-margin-buttom">
              <div class="label-margin-right">Profile picture:</div>
              <div>
                @if (newUserBasicDetails.profilePicUrl) {
                <img src="{{newUserBasicDetails.profilePicUrl}}" class="user-profile-img" alt="profile" />
                } @else {
                <div class="user-profile-img d-flex justify-content-center align-items-center">No image available</div>
                }
              </div>
              <div class="custom-file-upload">
                <label for="profilePic" class="custom-button">Choose File</label>
                <input type="file" readonly #profilePic id="profilePic" name="file" accept="image/*"
                  (change)="onUpload($event)">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <p-button label="Update Basic Details" [raised]="true" severity="info"
            [style]="{borderRadius: '7px', marginRight: '15px'}" [disabled]="!enableBasicUpdateBtn"
            (click)="updateBasicDetails()" />
          <p-button label="Cancel Update" [raised]="true" severity="secondary" [style]="{borderRadius: '7px'}"
            [disabled]="!enableBasicUpdateBtn" (click)="cancelBasicDetailsUpdate(profilePic.value)" />
        </div>
      </div>
      }
    </p-tabPanel>
    <p-tabPanel header="Secured Details">
      @if (newUserSecuredDetails && newUserSecuredDetails.userName) {
      <div>
        <div class="d-flex">
          <div class="d-flex align-items-center div-margin-buttom div-margin-right">
            <div class="label-margin-right">Password:</div>
            <div class="d-flex">
              <div class="d-flex flex-column">
                <input type="password" placeholder="new password" (paste)="$event.preventDefault()" pInputText
                  pSize="normal" [(ngModel)]="newUserSecuredDetails.password"
                  (input)="clearSecuredDetailsValidation('PASSWORD')" />
                <span class="error-cntr">{{newUserSecuredDetailsError.password}}</span>
              </div>
              <div>
                <p-button icon="pi pi-times" aria-label="clear" [styleClass]="'clear-btn'"
                  (click)="clearPasswordField()" />
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center div-margin-buttom">
            <div class="label-margin-right-cnf-pass">Confirm Password:</div>
            <div class="d-flex">
              <div class="d-flex flex-column">
                <input type="text" placeholder="new confirm password" (paste)="$event.preventDefault()" pInputText
                  pSize="normal" [(ngModel)]="newUserSecuredDetails.confirmPassword"
                  (input)="clearSecuredDetailsValidation('CONFIRMPASSWORD')" />
                <span class="error-cntr">{{newUserSecuredDetailsError.confirmPassword}}</span>
              </div>
              <div>
                <p-button icon="pi pi-times" aria-label="clear" [styleClass]="'clear-btn'"
                  (click)="clearConfirmPasswordField()" />
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center div-margin-buttom">
          <div class="label-margin-right">Phone:</div>
          <div class="d-flex flex-column">
            <input type="text" pInputText pSize="normal" [(ngModel)]="newUserSecuredDetails.phone"
              (input)="clearSecuredDetailsValidation('PHONE')" maxlength="10" />
            <span class="error-cntr">{{newUserSecuredDetailsError.phone}}</span>
          </div>
        </div>
        <div class="d-flex align-items-center div-margin-buttom">
          <div class="label-margin-right">Email:</div>
          <div class="d-flex flex-column">
            <input type="text" pInputText pSize="normal" [(ngModel)]="newUserSecuredDetails.email"
              (input)="clearSecuredDetailsValidation('EMAIL')" />
            <span class="error-cntr">{{newUserSecuredDetailsError.email}}</span>
          </div>
        </div>
      </div>
      }
      <div class="d-flex">
        <p-button label="Update Secured Details" [raised]="true" severity="info"
          [style]="{borderRadius: '7px', marginRight: '15px'}" [disabled]="!enableSecuredUpdateBtn"
          (click)="updateSecuredDetails()" />
        <p-button label="Cancel Update" [raised]="true" severity="secondary" [style]="{borderRadius: '7px'}"
          [disabled]="!enableSecuredUpdateBtn" (click)="cancelSecuredDetailsUpdate()" />
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
