<div id="profile" class="m-3">

<p-tabView>
  <p-tabPanel header="Basic Details">
    <div>
      <div class="d-flex align-items-center div-margin-buttom">
        <div class="label-margin-right">Username:</div>
        <div>
          <input type="text" pInputText pSize="normal"/>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="label-margin-right">Diaplay name:</div>
        <div>
          <input type="text" pInputText pSize="normal"/>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Secured Details">
      Content 2
  </p-tabPanel>
</p-tabView>
  <!-- <p-card header="User Details">
    <div>
      <div>
        <div class="d-flex align-items-center div-margin-buttom">
          <div class="label-margin-right">Username:</div>
          <div>
            <input type="text" pInputText pSize="normal"/>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="label-margin-right">Diaplay name:</div>
          <div>
            <input type="text" pInputText pSize="normal"/>
          </div>
        </div>
      </div>
      <p-divider />
      <div>
        secured section
      </div>
      <div>buttons</div>
    </div>
  </p-card> -->
</div>
