services:
  
  loki:
    image: grafana/loki:main
    container_name: loki
    command: [ "-config.file=/etc/loki/local-config.yaml" ]
    ports:
      - "3100:3100"
      
  tempo:
    image: grafana/tempo
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - "./docker/tempo/tempo.yaml:/etc/tempo.yaml:ro"
      - "./data/tempo:/tmp/tempo"
    ports:
      - "3110:3100"  # Tempo
      - "9411:9411" # zipkin

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - "--enable-feature=exemplar-storage"
      - "--config.file=/etc/prometheus/prometheus.yaml"
    volumes:
      - "./docker/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro"
    ports:
      - "9090:9090"
    restart: always
    
  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - "./docker/grafana:/etc/grafana/provisioning/datasources:ro"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - "3000:3000"