@defer {
@if(eventListDto && eventListDto.eventList.length){
<p-table id="event-datatable" [resizableColumns]="true" [rows]="eventListDto.eventPage.recordsPerPage"
  [showCurrentPageReport]="true" styleClass="p-datatable-gridlines position-static d-flex flex-column"
  [columns]="eventListDto.columnConfig.columns" [value]="eventListDto.eventList" selectionMode="single"
  (onRowSelect)="onRowSelect($event)" (sortFunction)="customSort($event)" [customSort]="true">
  <ng-template pTemplate="header" let-columns>
    <tr class="border-grey">
      @for (column of columns; track $index) {
      <th pResizableColumn [pSortableColumn]="column" [class]="'position-static'">
        {{column | column}}
        <p-sortIcon [field]="column"></p-sortIcon>
      </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-eventInfo let-columns="columns">
    <tr class="border-grey" [pSelectableRow]="eventInfo">
      @for (column of columns; track $index) {
      @if (isDateColumn(column)) {
      <td>{{eventInfo[column] | date: 'medium'}}</td>
      } @else if(column === "bookingOpen"){
      <td>
        <p-tag [value]="eventInfo[column] ? 'OPEN' : 'CLOSE' " [severity]="eventInfo[column] ? 'success' : 'danger'"
          [style]="{width: '120px'}" />
      </td>
      }@else {
      <td>{{eventInfo[column]}}</td>
      }
      }
    </tr>
  </ng-template>
</p-table>
<app-paginator [page]="eventListDto.eventPage" (pageEmitter)="pageEmitter.emit($event)"></app-paginator>
} @else {
<div class="d-flex justify-content-center">No data found</div>
}
} @placeholder {
  <div>place holder</div>
} @loading {
  <div>place holder</div>
}
