<div [style]="{height: '300px'}" class="d-flex flex-column justify-content-center">
  @if(editableEventMedia.mediaUrl){
  <div [style]="{height: '250px'}">
    <p-image [attr.for]="'event-media-'+editableEventMedia.index" [src]="editableEventMedia.mediaUrl" alt="Image"
      width="400px" height="250px" [preview]="true" [imageStyle]="{borderRadius: '7px', verticalAlign: 'super'}"
      [id]="editableEventMedia.index">
    </p-image>
  </div>
  }
  <div [style]="{height: '40px', paddingTop: '5px'}" class="d-flex justify-content-center align-items-center">
    <label [attr.for]="'event-media-'+editableEventMedia.index" pButton pRipple type="button"
      [label]="editableEventMedia.index === 0 ? '+ cover': '+'"
      class="p-button-outlined p-button-rounded p-button-secondary" [style]="{height: '40px'}"
      [pTooltip]="editableEventMedia.index === 0 ? 'add/replace cover':'add/replace photo'"></label>
    <input type="file" readonly #eventMediaTemplate [id]="'event-media-'+editableEventMedia.index" name="file"
      accept="image/*" [style]="{display: 'none'}" (change)="onUpload($event, eventMediaTemplate)">
    @if(editableEventMedia.mediaUrl) {
    <button pButton pRipple type="button" icon="pi pi-times"
      class="p-button-rounded p-button-secondary p-button-outlined"
      [style]="{width: '40px', height: '40px', marginLeft: '10px'}" (click)="cancel()" pTooltip="cancel"></button>
    }
  </div>
</div>
