@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "bootstrap/scss/bootstrap-grid";
@import "ngx-toastr/toastr";

$primary-color: orange;

@font-face {
  font-family: "Quicksand-Light";
  src: url("assets/font/Quicksand-Light.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("assets/font/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("assets/font/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("assets/font/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("assets/font/Quicksand-Bold.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

body {
  background-color: #ebebe8;
  margin: 0;
  padding: 0;
}

body,
div,
label {
  font-family: "Quicksand-Medium";
}

input {
  line-height: normal;
}

.pointer-cursor {
  cursor: pointer;
}

.font-Quicksand-Bold {
  font-family: "Quicksand-Bold";
}

.font-Quicksand-SemiBold {
  font-family: "Quicksand-SemiBold";
}

.font-Quicksand-Regular {
  font-family: "Quicksand-Regular";
}

.font-Quicksand-Medium {
  font-family: "Quicksand-Medium";
}

.font-Quicksand-Light {
  font-family: "Quicksand-Light";
}

#user-menu {
  width: fit-content;
  padding: 0px;
  ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    padding: 0px;
  }
  .p-menuitem-link {
    text-decoration: none;
  }
}

#nav-bar-menu {
  height: 50px;
  border-radius: 0px;
  border: 0px;
  .p-menuitem-link {
    text-decoration: none;
    border-radius: 0px;
  }
}

#role-dropdown_list {
  padding: 0px;
}

.p-float-label .p-dropdown .p-placeholder {
  opacity: 1;
}

.p-megamenu-panel {
  position: absolute;
  z-index: 99999999999999;
}

#profile {
  a {
    text-decoration: none;
    color: black;
  }
  // .p-tabview-nav-container {
  //   position: static;
  // }

  .p-tabview-title {
    text-decoration: none;
  }
  .p-tabview-nav {
    margin-bottom: 0px;
  }
  .p-tabview-panels {
    padding-left: 35px;
    padding-top: 30px;
  }
  .p-fileupload-choose {
    // position: static;
    margin-left: 15px;
  }
}

.p-menu-overlay {
  position: absolute;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the vertical scrollbar */
  height: 8px; /* Adjust the height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; /* Optional: round the corners */
}

/* Scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disable-div {
  background-color: #c5c5c5;
  padding: 10px;
  border-radius: 7px;
  width: 220px;
}

.clear-btn {
  margin-left: 10px;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  border-color: black;
}

.p-button {
  border-radius: 7px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #22c55e;
}

.p-inputswitch .p-inputswitch-slider {
  background: #ef4444;
}

.p-highlight {
  color: black;
  font-size: 1.1rem;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: black;
}

.position-static {
  // position: static;
}

.success-btn {
  background-color: green;
  border: 1px solid green;
}

.p-submenu-header {
  display: none;
}

#nav-bar-menu {
  background-color: #ff9980;
}

.p-menuitem-active {
  background-color: #ff9980;
}

.p-megamenu .p-menuitem > .p-menuitem-content {
  border-radius: 0;
}

.p-megamenu-panel {
  border-radius: 0;
  border: 1px solid lightgrey;
}

// .p-accordion-header-link {
//   position: static;
// }

// .p-tabview-nav-container {
//   position: static;
// }

// .p-tabview-nav-link {
//   position: static;
// }

.inactive-check {
  color: red;
  font-size: 1.5rem;
  margin-left: 10px;
}
.active-check {
  color: green;
  font-size: 1.5rem;
  margin-left: 10px;
}
.error-cntr {
  font-size: small;
  color: red;
}

.custom-file-upload {
  position: relative;
  display: inline-block;
}

.custom-button {
  margin-left: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.custom-image-button {
  margin-left: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: lightgrey;
  border: "5px solid red";
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

// .ng-trigger-overlayAnimation{
//   z-index: 999999999999;
// }

// .p-menu-overlay {
//   z-index: 999999999;
// }
