@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";
@import "ngx-toastr/toastr";

$primary-color: orange;

@font-face {
  font-family: "Quicksand-Light";
  src: url("assets/font/Quicksand-Light.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url("assets/font/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("assets/font/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("assets/font/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url("assets/font/Quicksand-Bold.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
  font-optical-sizing: auto;
}

body {
  background-color: #ebebe8;
  margin: 0;
  padding: 0;
}

body,
div,
label {
  font-family: "Quicksand-Medium";
}

input {
  line-height: normal;
}

.pointer-cursor {
  cursor: pointer;
}

.font-Quicksand-Bold {
  font-family: "Quicksand-Bold";
}

.font-Quicksand-SemiBold {
  font-family: "Quicksand-SemiBold";
}

.font-Quicksand-Regular {
  font-family: "Quicksand-Regular";
}

.font-Quicksand-Medium {
  font-family: "Quicksand-Medium";
}

.font-Quicksand-Light {
  font-family: "Quicksand-Light";
}

#user-menu {
  width: fit-content;
  padding: 0px;
  ul {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    padding: 0px;
  }
  .p-menuitem-link {
    text-decoration: none;
  }
}

#nav-bar-menu {
  height: 50px;
  border-radius: 0px;
  border: 0px;
  .p-menuitem-link {
    text-decoration: none;
    border-radius: 0px;
  }
}

#role-dropdown_list {
  padding: 0px;
}

.p-float-label .p-dropdown .p-placeholder {
  opacity: 1;
}

.p-megamenu-panel {
  position: absolute;
}

.p-menu-overlay {
  position: absolute;
}

// ::-webkit-scrollbar {
//   width: 8px; /* Adjust the width of the vertical scrollbar */
//   height: 8px; /* Adjust the height of the horizontal scrollbar */
// }

// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
//   border-radius: 10px; /* Optional: round the corners */
// }

// /* Scrollbar thumb (scroll handle) */
// ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius: 10px;
// }

// /* Scrollbar thumb on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
