#user-datatable {
  .user-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid lightgrey;
    display: block;
    text-align: center;
    overflow: hidden;
  }
}

.no-img {
  height: 50px;
}
