<div id="login" class="d-flex justify-content-center align-items-center">
  <p-card
    [style]="{minWidth: '25vw', minHeight: '80vh', display: 'flex', flexDirection: 'column', justifyContent: 'center'}">
    <ng-template pTemplate="header">
      <div class="container-fluid pt-5 header-contr">
        <div class="main-title">Urban
          Shows Admin</div>
        <div class="sub-title">Welcome back</div>
      </div>
    </ng-template>
    <div class="container-fluid justify-content-center align-items-center">
      <div class="d-flex flex-column mb-5 align-items-center">
        <p-iconField iconPosition="left" class="mb-3">
          <p-inputIcon styleClass="pi pi-user" />
          <input type="text" #username pInputText placeholder="Username" [(ngModel)]="systemUserLoginRequest.userName"
            [style]="{minWidth: '20vw'}" (input)="validate()" />
        </p-iconField>
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-lock" />
          <input type="password" #password pInputText placeholder="password"
            [(ngModel)]="systemUserLoginRequest.password" [style]="{minWidth: '20vw'}" (input)="validate()" />
        </p-iconField>
      </div>
      <div class="d-flex justify-content-between align-items-center m-3">
        <div>
          <p-checkbox [(ngModel)]="rememberMe" [binary]="true" inputId="binary" /> <span
            style="font-family: Quicksand-Bold;" class="p-2">Remember Me</span>
        </div>
        <div>
          <p-button label="Reset password" [link]="true" [style]="{padding: 0, fontFamily: 'Quicksand-light'}" />
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <p-button label="Log In" [raised]="true" [style]="{borderRadius: '7px', minWidth: '20vw'}"
          [disabled]="!enableLoginButton" (click)="login()" />
      </div>
      <div class="d-flex justify-content-start m-3">
        <div [style]="{marginRight: '10px'}">Don't have an account?</div>
        <p-button label="Signin" [link]="true" [style]="{padding: 0, fontFamily: 'Quicksand-light'}"
          (click)="nagivateToSignin()" />
      </div>
    </div>
  </p-card>
</div>
