services:

  kafka:
    image: bitnami/kafka
    container_name: kafka
    ports:
      - "9092:9092"    
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:2181
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@localhost:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_NODE_ID=1

  loki:
    image: grafana/loki:main
    container_name: loki
    command: [ "-config.file=/etc/loki/local-config.yaml" ]
    ports:
      - "3100:3100"
      
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - "--enable-feature=exemplar-storage"
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - "./docker/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml:ro"
    ports:
      - "9090:9090"
    restart: always      
      
  tempo:
    image: grafana/tempo
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - "./docker/tempo/tempo.yaml:/etc/tempo.yaml:ro"
      - "./docker/tempo:/tmp/tempo"
    ports:
      - "3110:3100"  # Tempo
      - "9411:9411" # zipkin
      
  grafana:
    image: grafana/grafana:main
    container_name: grafana
    volumes:
      - "./docker/grafana:/etc/grafana/provisioning/datasources:ro"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - "3000:3000"