<div id="event-details" class="m-3">
  <p-accordion>
    <p-accordionTab header="Event overview" [selected]="true">
      <p-tabView>
        <p-tabPanel header="Event infornmation">
          <app-event-overview></app-event-overview>
          <div class="d-flex">
            <p-button label="Save Event Details" [raised]="true" severity="info" [style]="{marginRight: '15px'}" />
            <p-button label="Cancel" [raised]="true" severity="secondary" />
          </div>
        </p-tabPanel>
        <p-tabPanel header="Booking infornmation">
          <app-booking-info></app-booking-info>
          <div class="d-flex">
            <p-button label="Save Booking Details" [raised]="true" severity="info" [style]="{marginRight: '15px'}" />
            <p-button label="Cancel" [raised]="true" severity="secondary" />
          </div>
        </p-tabPanel>
        <p-tabPanel header="Performer infornmation">
          <app-performer-info></app-performer-info>
          <div class="d-flex">
            <p-button label="Save Performer Details" [raised]="true" severity="info" [style]="{marginRight: '15px'}" />
            <p-button label="Cancel" [raised]="true" severity="secondary" />
          </div>
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
    <p-accordionTab header="Venue & Schedule">
      <p-tabView>
        <p-tabPanel header="Venue infornmation">
          Venue infornmation
        </p-tabPanel>
        <p-tabPanel header="Slot infornmation">
          Slot infornmation
        </p-tabPanel>
        <p-tabPanel header="Seat infornmation">
          Seat infornmation
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
    <p-accordionTab header="Categories & Preferences">
      <p-tabView>
        <p-tabPanel header="Categories infornmation">
          Categories infornmation
        </p-tabPanel>
        <p-tabPanel header="Preferences">
          Preferences
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
  </p-accordion>

</div>
