<div id="event-details" class="m-3">
  <p-accordion>
    <p-accordionTab header="Event overview" [selected]="true">
      <p-tabView>
        <p-tabPanel header="Event infornmation">
          <div class="d-flex">
            <div class="col-4">
              <div class="d-flex align-items-center mb-20">
                <div class="event-label col-3">Event title:</div>
                <div>
                  <input type="text" pInputText pSize="small">
                </div>
              </div>
              <div class="d-flex align-items-center mb-20">
                <div class="event-label col-3">Event description:</div>
                <div class="p-float-label">
                  <textarea id="float-input" rows="5" cols="35" pInputTextarea></textarea>
                  <label for="float-input">Mention few line about your event...</label>
                </div>
              </div>
              <div class="d-flex align-items-center mb-20">
                <div class="event-label col-3">Organiser:</div>
                <div>
                  <div class="disable-div">name here - readonly</div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-20">
                <div class="event-label col-3">Created on:</div>
                <div>
                  <div class="disable-div">name here - readonly</div>
                </div>
              </div>
              <div class="d-flex align-items-center mb-20">
                <div class="event-label col-3">User min age:</div>
                <div>
                  <p-inputNumber inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="100">
                  </p-inputNumber>
                </div>
              </div>
            </div>
            <div class="col-8">
              Event photos and videos
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Booking infornmation">
          Booking infornmation
        </p-tabPanel>
        <p-tabPanel header="Performer infornmation">
          Performer infornmation
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
    <p-accordionTab header="Venue & Schedule">
      <p-tabView>
        <p-tabPanel header="Venue infornmation">
          Venue infornmation
        </p-tabPanel>
        <p-tabPanel header="Slot infornmation">
          Slot infornmation
        </p-tabPanel>
        <p-tabPanel header="Seat infornmation">
          Seat infornmation
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
    <p-accordionTab header="Categories & Preferences">
      <p-tabView>
        <p-tabPanel header="Categories infornmation">
          Categories infornmation
        </p-tabPanel>
        <p-tabPanel header="Preferences">
          Preferences
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
  </p-accordion>

</div>
