#navbar {
  .home-logo {
    font-size: 25px;
    color: black;
  }
  .user-profile-img {
    width: 45px;
    height: 45px;
    border-radius: 75%;
    border: 1px solid black;
    display: block;
    text-align: center;
    overflow: hidden;
  }
}
