<div id="navbar" class="container-fluid d-flex justify-content-between align-items-center">
  <div class="col-2">
    <div class="font-Quicksand-Bold home-logo pointer-cursor" (click)="navigateToHome()">Urban Shows</div>
  </div>
  <div class="d-flex justify-content-end col-8">
    <p-megaMenu [model]="navbarModel" id="nav-bar-menu" />
  </div>
  <div class="col-2 d-flex justify-content-end self-align-end">
    <div>
      @if (loggedinUserDetails && loggedinUserDetails!.profilePicUrl) {
      <img src="{{loggedinUserDetails.profilePicUrl}}" class="user-profile-img" alt="profile" />
      } @else {
      <span class="user-profile-img">no img</span>
      }
    </div>
    <div class="font-Quicksand-SemiBold p-2 d-flex justify-content-center align-items-center user-name"
      style="margin-right: 15px;">
      <span (click)="menu.toggle($event)" class="d-flex flex-column align-items-start pointer-cursor">
        <div>
          {{loggedinUserDetails && loggedinUserDetails.displayName}}
        </div>
        <div style="font-size: small" class="align-self-end">{{loggedinUserDetails && loggedinUserDetails.roles}}
        </div>
      </span>
      <p-menu #menu [model]="model" [popup]="true" [styleClass]="'d-flex'" id="user-menu" autoZIndex="true"
        appendTo="body" />
    </div>
  </div>
</div>
