<div id="navbar" class="container-fluid d-flex justify-content-between align-items-center">
  <div class="col-2">
    <div class="font-Quicksand-Bold home-logo pointer-cursor" (click)="openSection('')">Urban Shows</div>
  </div>
  <div class="d-flex justify-content-end col-8">
    <p-megaMenu [model]="navbarModel" id="nav-bar-menu" (mouseleave)="onMouseLeave(megamenu)" #megamenu />
  </div>
  <div class="col-2 d-flex justify-content-end self-align-end align-items-center">
    <div>
      @if (loggedInUserDetails && loggedInUserDetails!.profilePicUrl) {
      <img src="{{loggedInUserDetails.profilePicUrl}}" class="user-profile-img" alt="profile" />
      } @else {
      <span class="user-profile-img">no img</span>
      }
    </div>
    <div #test class="font-Quicksand-SemiBold d-flex justify-content-center align-items-center user-name"
      style="margin-right: 15px;">
      <span class="d-flex flex-column align-items-start pointer-cursor">
        <p-megaMenu [model]="userModel" id="user-bar-menu" (mouseleave)="onMouseLeave(usermodel)" #usermodel />
      </span>
    </div>
  </div>
</div>
<ng-container #addEventContainer></ng-container>
