#navbar {
  height: 64px;
  background-color: #ff9980;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  .home-logo {
    font-size: 25px;
    color: black;
    margin-left: 20px;
  }
  .user-profile-img {
    width: 45px;
    height: 45px;
    border-radius: 75%;
    border: 1px solid black;
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .user-name {
    text-align: end;
  }
}
