#signin {
  height: 100vh;
  background-color: #1594fc;

  .header-contr {
    text-align: center;
    font-family: Quicksand-Bold;

    .main-title {
      font-size: 30px;
    }

    .sub-title {
      font-size: 24px;
      margin-top: 10px;
    }
  }

  .error-cntr {
    font-size: small;
    color: red;
  }
}
