<div id="event-overiew" class="d-flex">
  <div class="col-4">
    <div class="d-flex align-items-center mb-30">
      <div class="event-label col-3">Event title:</div>
      <div class="d-flex flex-column">
        <input type="text" pInputText pSize="small" [(ngModel)]="eventOverviewEdit.eventTitle"
          (input)="clearEventDetailsValidation()">
        <span class="error-cntr">{{eventOverviewError.eventTitle}}</span>
      </div>
    </div>
    <div class="d-flex align-items-center mb-20">
      <div class="event-label col-3">Event description:</div>
      <div class="d-flex flex-column">
        <div class="p-float-label">
          <textarea id="float-input" rows="5" cols="35" pInputTextarea [style]="{maxWidth: '420px',}"
            [(ngModel)]="eventOverviewEdit.eventDescription" (input)="clearEventDetailsValidation()"></textarea>
        </div>
        <span class="error-cntr">{{eventOverviewError.eventDescription}}</span>
      </div>
    </div>
    <div class="d-flex align-items-center mb-20">
      <div class="event-label col-3">User min age:</div>
      <div class="d-flex flex-column">
        <p-inputNumber inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="90"
          [(ngModel)]="eventOverviewEdit.userMinAge" (input)="clearEventDetailsValidation()">
        </p-inputNumber>
        <span class="error-cntr">{{eventOverviewError.userMinAge}}</span>
      </div>
    </div>
  </div>
  <div class="col-8 d-flex flex-column justify-content-center align-items-center">
    <div style="margin-bottom: 20px;">Event Media</div>
    <div class="d-flex">
      <table class="table table-bordered"
        [style]="{width: '75rem', border: '1px solid lightgrey', borderSpacing: '10px', borderRadius: '7px'}">
        <tbody>
          <tr>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[0]"
                [eventTitle]="this.eventOverviewEdit.eventTitle"></app-image>
              <!-- <ng-container #coverImageContainer></ng-container> -->
            </td>
            <td [style]=" {borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'
                  }">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[1]"
                [eventTitle]="this.eventOverviewEdit.eventTitle"></app-image>
            </td>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[2]"
                [eventTitle]="this.eventOverviewEdit.eventTitle"></app-image>
            </td>
          </tr>
          <tr>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[3]"
                [eventTitle]="eventOverviewEdit.eventTitle"></app-image>
            </td>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[4]"
                [eventTitle]="eventOverviewEdit.eventTitle"></app-image>
            </td>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[5]"
                [eventTitle]="eventOverviewEdit.eventTitle"></app-image>
            </td>
          </tr>
          <tr>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[6]"
                [eventTitle]="eventOverviewEdit.eventTitle"></app-image>
            </td>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[7]"
                [eventTitle]="eventOverviewEdit.eventTitle"></app-image>
            </td>
            <td [style]="{borderRadius: '7px', textAlign: 'center', backgroundColor: '#ebeae8'}">
              <app-image [eventMedia]="eventOverviewEdit.eventPhotos[8]"
                [eventTitle]="eventOverviewEdit.eventTitle"></app-image>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="d-flex">
  <p-button label="Save Event Details" [raised]="true" severity="info" [style]="{marginRight: '15px'}"
    [disabled]="!enableEventSaveBtn" (click)="saveEventDetails()" />
  <p-button label="Cancel" [raised]="true" severity="secondary" [disabled]="!enableEventSaveBtn"
    (click)="cancelEventDetailsChanges()" />
</div>
